<html>
	
	<div>
	<head>
		<title>Aaigerim's book club</title>
	</head>
	</div>
	
<body>
	<div>
	<h1>These are the books I have read this year!</h1>
	</div>
	
	<div>
	<h2>Non-fiction</h2>
	<a href="https://ru.bookmate.com/books/NzQppwS4">Make it stick</a>
	</div>
	
	<div>
	<h2>Fiction</h2>
	<a href="https://ru.bookmate.com/books/IpZNcOXG">The Five People You Meet In Heven</a>
	</div>
	
	<div>
		{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
	</div>
	
</body>
</html>
